<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="12"><img src="include/images/balken/balken_01.gif" width="12" height="43"></td>
<td width="62">
<div align="left"><img src="include/images/balken/balken_02.gif" width="62" height="43"></div>
</td>
<td width="100%" background="include/images/balken/balken_03.gif">
<div align="center">{name}</div>
</td>
<td width="62"><img src="include/images/balken/balken_04.gif" width="62" height="43"></td>
<td width="12"><img src="include/images/balken/balken_05.gif" width="12" height="43"></td>
</tr>
<tr>
<td colspan="5">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="4"><img src="include/images/balken/balken_06.gif" width="4" height="20"></td>
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="7"><img src="include/images/balken/balken2_07.gif" width="7" height="20"></td>
<td width="100%">
<table width="{prozent}%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="20" background="include/images/balken/balken2_08.gif">
<div align="center">{prozent}%</div>
</td>
</tr>
</table>
</td>
<td width="7" background="include/images/balken/balken_09.gif"><img src="include/images/balken/balken2_09.gif" width="7" height="20"></td>
</tr>
</table>
</td>
<td width="4"><img src="include/images/balken/balken_10.gif" width="4" height="20"></td>
</tr>
</table>
</td>
</tr>
<tr>
<td colspan="5">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="12" height="12">
<div align="center"><img src="include/images/balken/balken_11.gif" width="12" height="12"></div>
</td>
<td height="12">
<div align="center"><img src="include/images/balken/balken_12.gif" width="100%" height="12"></div>
</td>
<td width="12" height="12">
<div align="center"><img src="include/images/balken/balken_13.gif" width="12" height="12"></div>
</td>
</tr>
</table>
</td>
</tr>
</table>