<script src="include/includes/SpryAssets/SpryValidationTextarea.js" type="text/javascript"></script>
<script src="include/includes/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
<script src="include/includes/SpryAssets/SpryValidationSelect.js" type="text/javascript"></script>
<link href="include/includes/SpryAssets/SpryValidationTextarea.css" rel="stylesheet" type="text/css">
<link href="include/includes/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
<link href="include/includes/SpryAssets/SpryValidationSelect.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.Stil1 {font-size: 9px}
-->
</style>

{EXPLODE}
<fieldset>
<legend>Bewerbung\'s Formular </legend>

<form name="form1" method="post" action="index.php?bewerbung-senden">
  <table width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
      <td width="23%">Reallife name:</td>
      <td width="77%"><span id="sprytextfield1">
        <label>
        <input type="text" name="rlname" id="rlname">
        </label>
        <span class="textfieldRequiredMsg">Es muss ein Wert angegeben werden.</span></span></td>
    </tr>
    <tr>
      <td>Alter:</td>
      <td><span id="sprytextfield2">
        <input name="alter" type="text" id="alter" value="0000-00-00" maxlength="10">
        <span class="textfieldRequiredMsg">Es muss ein Wert angegeben werden.</span></span>(YYYY-MM-TT / Jahr-Monat-Tag  )</td>
    </tr>
    <tr>
      <td>Charname:</td>
      <td><span id="sprytextfield3">
        <label>
        <input type="text" name="name" id="name">
        </label>
        <span class="textfieldRequiredMsg">Es muss ein Wert angegeben werden.</span></span></td>
    </tr>
    <tr>
      <td>Level:</td>
      <td><span id="spryselect1">
        <label>
        <select name="level" id="level">
        	<option>...</option>
          {_list_level@<option value="%2">%1</option>}
                </select>
        </label>
        <span class="selectRequiredMsg">Wählen Sie ein Element aus.</span></span></td>
    </tr>
    <tr>
      <td>Klasse:</td>
      <td><span id="spryselect2">
        <label>
        <select name="klassen" id="klassen">
        <option>...</option>
        	{_list_klasse@<option value="%2">%1</option>}
        </select>
        </label>
        <span class="selectRequiredMsg">Wählen Sie ein Element aus.</span></span> *<span class="Stil1">Wenn deine Klasse nicht in der Liste ist bedeutet das Aufnahmestop.</span></td>
    </tr>
    <tr>
      <td>Rasse:</td>
      <td><span id="spryselect3">
        <label>
        <select name="rassen" id="rassen">
        <option>...</option>
        	{_list_rasse@<option value="%2">%1</option>}
        </select>
        </label>
        <span class="selectRequiredMsg">Wählen Sie ein Element aus.</span></span></td>
    </tr>
    <tr>
      <td>Main Beruf / Skill:</td>
      <td><span id="spryselect4">
        <label>
        <select name="mberuf" id="mberuf">
        <option>...</option>
        	{_list_beruf@<option value="%2">%1</option>}
        </select>
        </label>
        <span class="selectRequiredMsg">Wählen Sie ein Element aus.</span></span><span id="sprytextfield7">
        <label>
        <input name="mskill" type="text" id="mskill" size="3" maxlength="3">
        </label>
        <span class="textfieldRequiredMsg">Es muss ein Wert angegeben werden.</span></span></td>
    </tr>
    <tr>
      <td>Second Beruf /Skill:</td>
      <td><span id="spryselect5">
      <label>
      <select name="sberuf" id="sberuf">
      <option>...</option>
        	{_list_beruf@
        <option value="%2">%1</option>}
      </select>
      </label>
      <span class="selectRequiredMsg">Wählen Sie ein Element aus.</span></span><span id="sprytextfield8">
      <label>
      <input name="sskill" type="text" id="sskill" size="3" maxlength="3" />
      </label>
      <span class="textfieldRequiredMsg">Es muss ein Wert angegeben werden.</span></span></td>
    </tr>
    <tr>
      <td>Teamspeak:</td>
      <td>

        <label>
<input type="radio" name="teamspeak" id="radio" value="1" />
Ja
<input name="teamspeak" type="radio" id="radio2" value="0" checked="checked" />
Nein
</label>
      </td>
  </tr>
    <tr>
      <td>Skillung:</td>
      <td><span id="sprytextfield4">
        <label>
        <input name="s1" type="text" id="s1" size="2" maxlength="2">
        </label>
        <span class="textfieldRequiredMsg">Es muss ein Wert angegeben werden.</span></span>/<span id="sprytextfield5">
        <label>
        <input name="s2" type="text" id="s2" size="2" maxlength="2">
        </label>
        <span class="textfieldRequiredMsg">Es muss ein Wert angegeben werden.</span></span>/<span id="sprytextfield6">
        <label>
        <input name="s3" type="text" id="s3" size="2" maxlength="2">
        </label>
        <span class="textfieldRequiredMsg">Es muss ein Wert angegeben werden.</span></span></td>
    </tr>
    <tr>
      <td colspan="2">Warum Bewirbst du dich bei uns?</td>
    </tr>
    <tr>
      <td colspan="2"><span id="sprytextarea1">
        <label>
        <textarea name="warum" id="warum" cols="45" rows="5"></textarea>
        </label>
        <span class="textareaRequiredMsg">Es muss ein Wert angegeben werden.</span></span></td>
    </tr>
    <tr>
      <td colspan="2">Spielst du PVP? </td>
    </tr>
    <tr>
      <td colspan="2"><span id="sprytextarea2">
        <label>
        <textarea name="pvp" id="pvp" cols="45" rows="5"></textarea>
        </label>
        <span class="textareaRequiredMsg">Es muss ein Wert angegeben werden.</span></span></td>
    </tr>
    <tr>
      <td colspan="2">Sonstiges?</td>
    </tr>
    <tr>
      <td colspan="2"><span id="sprytextarea3">
        <label>
        <textarea name="raiden" id="raiden" cols="45" rows="5"></textarea>
        </label>
        <span class="textareaRequiredMsg">Es muss ein Wert angegeben werden.</span></span></td>
    </tr>
    <tr>
      <td colspan="2">
        <label>
        <input type="submit" name="button" id="button" value="Senden">
        </label>
      </td>
    </tr>
                              </table>
</form>
<p>&nbsp;</p>
</fieldset>

<script type="text/javascript">
<!--
var sprytextarea3 = new Spry.Widget.ValidationTextarea("sprytextarea3");
var sprytextarea2 = new Spry.Widget.ValidationTextarea("sprytextarea2");
var sprytextfield6 = new Spry.Widget.ValidationTextField("sprytextfield6");
var sprytextarea1 = new Spry.Widget.ValidationTextarea("sprytextarea1");
var sprytextfield5 = new Spry.Widget.ValidationTextField("sprytextfield5");
var sprytextfield4 = new Spry.Widget.ValidationTextField("sprytextfield4");
var spryselect4 = new Spry.Widget.ValidationSelect("spryselect4");
var spryselect3 = new Spry.Widget.ValidationSelect("spryselect3");
var spryselect2 = new Spry.Widget.ValidationSelect("spryselect2");
var sprytextfield3 = new Spry.Widget.ValidationTextField("sprytextfield3");
var spryselect1 = new Spry.Widget.ValidationSelect("spryselect1");
var sprytextfield2 = new Spry.Widget.ValidationTextField("sprytextfield2");
var sprytextfield1 = new Spry.Widget.ValidationTextField("sprytextfield1");
var sprytextfield7 = new Spry.Widget.ValidationTextField("sprytextfield7");
var spryselect5 = new Spry.Widget.ValidationSelect("spryselect5");
var sprytextfield8 = new Spry.Widget.ValidationTextField("sprytextfield8");
//-->
</script>
