<form name="form" method="post" action="{pfad}">
    <table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
        <tr> 
            <td colspan="2" class="Chead">{title}</td>
        </tr>
        <tr class="Cnorm">
            <td nowrap="nowrap">Charakter Name:</td>
            <td><input type="text" name="name" placeholder="Name" value="{name}" /></td>
        </tr>

        <tr class="Cmite"> 
            <td nowrap="nowrap">Level</td>
            <td><input type="text" name="level" placeholder="80" maxlength="2" value="{level}" /></td>
        </tr>
        
        <tr class="Cnorm"> 
            <td nowrap="nowrap">Rasse</td>
            <td>{rassen}</td>
        </tr>
        
	<tr class="Cmite"> 
            <td nowrap="nowrap">Klasse</td>
            <td>{klassen}</td>
        </tr>
        
        <tr class="Cnorm">
            <td nowrap="nowrap">Spezialiesirung</td>
            <td id="spz">{spz}</td>
        </tr>
    
        <tr class="Cmite">
            <td nowrap="nowrap">Main Skill:</td>
            <td> {skillgruppe} </td>
        </tr>
    
        <tr class="Cnorm">
            <td nowrap="nowrap">Nachricht</td>
            <td>
                <textarea name="warum" cols="50" id="warum" style="width:98%;">{warum}</textarea>
            </td>
        </tr>

        <tr class="Cmite">
            <td nowrap="nowrap">Hast du TS?</td>
            <td>
                <label><input name="teamspeak" type="radio" id="teamspeak_0" value="1" {tsy} /> Ja</label>
                <label><input type="radio" name="teamspeak" value="0" id="teamspeak_1" {tsn} /> Nein</label>
            </td>
        </tr>
        
        <tr class="Cmite"> 
            <td nowrap="nowrap">Realm</td>
            <td><input name="realm" type="text" id="realm" value="{realm}" readonly></td>
        </tr>
        
        <tr class="Cdark"> 
            <td>
               
            </td>
            <td><input type="submit" value="Abschicken"></td>
        </tr>
    </table>
</form>