<script>
	$(document).ready(function()
	{	var $klasse = $("select[name=klassen]");
		var $klassID = '';
		$klasse.change(function()
		{ 	$klassID = $(this).val();
			$.post("index.php?chars", "spz=1&kid=" + $klassID, function(data){ $("#spz").html(data); $("#spz select").fadeIn(); });
		});
		
	});
</script>
<form name="form1" method="post" action="{PFAD}">
  <table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
    <tr> 
      <td colspan="2" class="Chead">{TITEL}</td>
    </tr>
    <tr class="Cnorm">
      <td nowrap="nowrap">Charname:</td>
      <td>*
        <input name="name" type="text" id="name" value="{name}" {ro} />
      </td>
    </tr>
    <tr class="Cnorm"> 
      <td width="16%" nowrap="nowrap">Reallife Name:</td>
      <td width="84%">
        <input name="rlname" type="text" id="rlname" value="{rlname}" />
      </td>
    </tr>
    <tr class="Cmite"> 
      <td nowrap="nowrap">Level</td>
      <td>* {level}</td>
    </tr>
    <tr class="Cnorm"> 
      <td nowrap="nowrap">Rasse</td>
      <td>* {rassen}</td>
    </tr>
	<tr class="Cmite"> 
      <td nowrap="nowrap">Klasse</td>
      <td>* {klassen}</td>
    </tr>
    <tr class="Cnorm">
      <td nowrap="nowrap">Spezialiesirung</td>
      <td id="spz">{spz}</td>
    </tr>
    <tr class="Cmite">
      <td nowrap="nowrap">Skill Gruppe:</td>
      <td> {skillgruppe}
      </td>
    </tr>
    <tr class="Cnorm">
      <td nowrap="nowrap">Main Beruf / Skill:</td>
      <td> {mberuf}
        <input name="mskill" type="text" id="mskill" value="{mskill}" size="3" maxlength="3" />
      </td>
    </tr>
    <tr class="Cmite">
      <td nowrap="nowrap">Second Beruf / Skill:</td>
      <td>{sberuf}
        <input name="sskill" type="text" id="sskill" value="{sskill}" size="3" maxlength="3" />
      </td>
    </tr>
    <tr class="Cnorm">
      <td nowrap="nowrap">Warum?</td>
      <td>
        <textarea name="warum" cols="50" id="warum" style="width:98%;">{warum}</textarea>
      </td>
    </tr>
    <tr class="Cnorm">
      <td nowrap="nowrap">Spielst du PVP?</td>
      <td>
        <textarea name="pvp" cols="50" id="pvp" style="width:98%;">{pvp}</textarea>
      </td>
    </tr>
    <tr class="Cnorm"> 
      <td nowrap="nowrap">Raidest du?</td>
      <td>
        <textarea name="raiden" cols="50" id="raiden" style="width:98%;">{raiden}</textarea>
      </td>
    </tr>
    <tr class="Cmite">
      <td nowrap="nowrap">Hast du TS?</td>
      <td>
        <table width="200">
          <tr>
            <td>
              <label>
                <input name="teamspeak" type="radio" id="teamspeak_0" value="1" {tsy} />
                Ja</label>
            </td>
          </tr>
          <tr>
            <td>
              <label>
                <input type="radio" name="teamspeak" value="0" id="teamspeak_1" {tsn} />
                Nein</label>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="Cmite"> 
      <td nowrap="nowrap">Realm</td>
      <td><input name="realm" type="text" id="realm" value="{realm}" readonly></td>
    </tr>
    <tr class="Cdark"> 
      <td><input name="id" type="hidden" id="id" value="{id}">
      <input name="db" type="hidden" id="db" value="{db}"></td>
      <td><input type="submit" name="Submit" value="Abschicken"></td>
    </tr>
  </table>
</form>