<br><br>
<table id="CharakterDetails" width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
    <tr> 
      <td colspan="4" class="Chead">{TITEL}</td>
    </tr>
    <tr class="Cnorm">
      <td>Username:</td>
      <td width="18%">{username} </td>
      <td width="19%">Alter: {alter}</td>
    </tr>
    <tr class="Cmite"> 
		<td width="13%">Charname:</td>
		<td colspan="2">{name} id: #{id}</td>
    </tr>
	<tr class="Cnorm">
		<td>Real Name:</td>
		<td colspan="2">{rlname}</td>
	</tr>
    <tr class="Cmite">
      <td>Rang:</td>
      <td colspan="2">{rang}</td>
    </tr>
    <tr class="Cnorm"> 
      <td>Level:</td>
      <td colspan="2">{level}</td>
    </tr>
    <tr class="Cmite"> 
      <td>Klasse:</td>
      <td colspan="2">{klassen}</td>
    </tr>
    <tr class="Cnorm"> 
      <td>Rasse:</td>
      <td colspan="2">{rassen}</td>
    </tr>
    <tr class="Cmite">
      <td>Skill:</td>
      <td colspan="2"><span class="{CLASS}">{sb}</span></td>
  </tr>
<tr class="Cnorm">
<td nowrap="nowrap">Main Beruf / Skill:</td>
<td colspan="2">{mberuf} {mskill}</td>
</tr>
<tr class="Cmite">
<td nowrap="nowrap">Second Beruf / Skill:</td>
<td colspan="2">{sberuf} {sskill}</td>
</tr>
    <tr class="Cnorm"> 
      <td>Skill Gruppe:</td>
      <td colspan="2">{skillgruppe}</td>
    </tr>
    <tr class="Cmite"> 
      <td>Realm:</td>
      <td colspan="2">{realm}</td>
    </tr>
    <tr class="Cnorm">
      <td>Teamspeak: </td>
      <td colspan="2">{teamspeak}</td>
    </tr>
    <tr class="Cmite">
      <td>Raiden:</td>
      <td colspan="2">{raiden}</td>
    </tr>
    <tr class="Cnorm">
      <td>Warum:</td>
      <td colspan="2">{warum}</td>
    </tr>
    <tr class="Cmite">
      <td>PvP:</td>
      <td colspan="2">{pvp}</td>
    </tr>
  </table>
  <br>
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
    <tr class="Chead">
      <td colspan="4">Raidkalender: <em>An welchen Tagen und Zeiten kannst du Raiden?</em></td>
    </tr>
    <tr class="Cmite">
      <td colspan="4"><center>{raid_kalender}</center></td>
    </tr>
</table>
{EXPLODE}<br />
<table id="CharakterDKP" width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
  <tr class="Chead">
    <td colspan="5"><span class="Chead"><b>{TITEL}</b></span></td>
  </tr>
  <tr class="Cdark">
    <td width="16%"><b>Datum & Zeit</b></td>
    <td width="18%"><div align="center"><b>DKP Gruppe</b></div></td>
    <td width="55%"><b>Info</b></td>
    <td width="7%"><b>DKP</b></td>
    <td width="4%"><div align="right"><b>id</b></div></td>
  </tr>
{EXPLODE}
  <tr class="{CLASS}">
    <td nowrap="nowrap"><span class="Stil2">{date}</span></td>
    <td nowrap="nowrap"><div align="center">{gruppen}</div>    </td>
    <td nowrap="nowrap">{info}</td>
    <td nowrap="nowrap">{dkp}</td>
    <td nowrap="nowrap"><div align="right">#{id}</div>    </td>
  </tr>
{EXPLODE}
</table>
{EXPLODE}<br />
<table id="CharakterRaid" width="100%" cellspacing="1" cellpadding="2" class="border">
  <tr>
    <td colspan="3" class="Chead"><b>Raidbeteiligung</b></td>
  </tr>
  <tr class="Cdark">
    <td width="18%" nowrap><b>DKP / Gruppen</b></td>
    <td width="72%"> </td>
    <td width="10%" nowrap="nowrap"> <div align="center"><b>Anzahl</b></div></td>
  </tr>
  {EXPLODE}
  <tr class="{CLASS}">
    <td nowrap="nowrap">{gruppen}</td>
    <td>{prz}</td>
    <td width="10%" nowrap="nowrap"><div align="center"> {vonbis}</div></td>
  </tr>
  {EXPLODE}
</table>
{EXPLODE}<br />
<table id="CharakterTwinks" width="100%" cellspacing="1" cellpadding="2" class="border">

  <tr>
    <td colspan="3" class="Chead"><b>Weitere Charaktere</b></td>
  </tr>
  
  <tr class="Cdark">
    <td><b>Name</b></td>
    <td><b>Rasse/Klasse</b></td>
    <td><b>Rang</b></td>
  </tr>
  {EXPLODE}
  <tr class="Cnorm">
    <td>{level} <b><a href="index.php?chars-show-{id}">{name}</a></b></td>
    <td align="center">{rassen} {klassen}</td>
    <td align="center">{rang}</td>
  </tr>
  {EXPLODE}
</table>
