<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
  <tr class="Chead">
    <td colspan="3"><strong>{title}</strong></td>
  </tr>
  <tr class="Cdark"> 
    <td width="28%">Zeit</td>
    <td width="45%">Info</td>
    <td width="27%">DKP</td>
  </tr>
  {EXPLODE} 
  <tr class="{CLASS}">
    <td>{date}</td>
    <td>{info}</td>
    <td>{dkp}</td>
  </tr>
  {EXPLODE}
  <tr class="Cdark"> 
    <td colspan="2">{msg}</td>
    <td>{dkp}</td>
  </tr>
  {EXPLODE} 
  <tr class="Chead"> 
    <td colspan="3"><a href="javascript:history.back();">Zur&uuml;ck</a> &#8226; 
      <a href="{link}">Aktualisieren</a> </td>
  </tr>
</table>