<style type="text/css">
<!--
.asd {
	clear: right;
}
-->
</style>
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
  <tr class="Chead">
    <td colspan="4"><strong>Raid Gruppen</strong></td>
  </tr>
  <tr class="Cdark">
    <td><strong>&raquo; Gruppen Name</strong></td>
    <td><strong>Raids</strong></td>
    <td align="center"><strong>DKP</strong></td>
    <td align="right"><strong>Status</strong></td>
  </tr>
  {EXPLODE}
  <tr class="Cnorm">
    <td><p><strong>{gruppen}<br />
      <span style="font-size:9px;">{stammgrp}</span></strong></p>
    </td>
    <td><font size="1">Offene Raids</font><font size="1">: {aRaids}<br />
Alle Raids: {eRaids}</font></td>
    <td align="center">{dkplink}</td>
    <td align="center">{aktive}</td>
  </tr>
  {EXPLODE}
  <tr class="Cdark">
    <td colspan="4">{img}</td>
  </tr>
  {EXPLODE}
  <tr class="Cmite">
    <td colspan="4">{msg}</td>
  </tr>
  {EXPLODE}
</table>
{EXPLODE}
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
  <tr class="Cdark">
    <td colspan="2" align="center">{img}</td>
  </tr>
  <tr class="Cnorm">
    <td>
     <div style="float:left; font-size:9px;">
     Gruppe Erstellt:<br />
     Gesamte + DKP:<br />
     Gesamte - DKP:<br />
     Insgesamt DKP:<br /> 
     </div>
     <div style="float:right; font-size:9px;" align="right">
     {date}<br />
     {pDKP}<br />
     {mDKP}<br />
     {iDKP}<br /> 
     </div>
     </td>
    <td align="left" valign="top">
    <div style="float:left; font-size:9px;">
    Alle Raids:<br />
    Beendete Raids:<br />
    Alle Gruppen Raids:<br />
    Stamm Gruppe:
    </div>
    <div style="float:right; font-size:9px;" align="right">
    {aRaids}<br />
	{bRaids}<br />
	{allgRaids}<br />
    {stammgrp}
    </div>
    </td>
  </tr>
  <tr class="Cnorm">
    <td colspan="2">{pzRaids}</td>
  </tr>
  <tr class="Cnorm">
    <td colspan="2">{pzBosse}</td>
  </tr>
  <tr class="Cnorm">
    <td colspan="2">{allRaids}</td>
  </tr>
</table>
{EXPLODE}
<br />
<form id="form" name="form" method="post" action="{pfad}">
<div align="center">
<table width="150" border="0" cellspacing="1" cellpadding="5" class="border">
  <tr>
    <td nowrap="nowrap" class="Cnorm"><select name="sort" id="sort" style="font-size:9px;">
        {selectA}
      </select></td>
    <td nowrap="nowrap" class="Cnorm"><select name="upordown" id="upordown" style="font-size:9px;">
      {selectB}
    </select>    </td>
    <td nowrap="nowrap" class="Cmite">
      <select name="where" id="where" style="font-size:9px;">
      	{selectC}
      </select>
      </td>
    <td nowrap="nowrap" class="Cdark">
      <input type="submit" name="button" id="button" value="Sort." style="font-size:9px;" />
    </td>
    <td nowrap="nowrap" class="Cmite"><input name="reset" type="submit" id="reset" value="Reset"style="font-size:9px;" /></td>
  </tr>
</table>
</div>
</form>
<p>{EXPLODE}</p>
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
  <tr class="Chead">
    <td width="4%" nowrap="nowrap">&nbsp;</td>
    <td nowrap="nowrap"><strong>Datum</strong></td>
    <td align="center" nowrap="nowrap"><strong>Status</strong></td>
    <td align="center" nowrap="nowrap"><strong>DKP</strong></td>
    <td align="right" nowrap="nowrap">&nbsp;</td>
  </tr>
  {EXPLODE}
  <tr class="{class}">
    <td align="center" valign="middle" nowrap="nowrap">{img}</td>
    <td valign="middle" nowrap="nowrap">{inv}<br /><div style="font-size:9px;">&raquo; {inzen} ({grpsize})<br />{sName}</div></td>
    <td valign="middle" nowrap="nowrap">{statusmsg}</td>
    <td align="center" valign="middle" nowrap="nowrap">{dkplink}</td>
    <td align="right" valign="middle" nowrap="nowrap"><span  style="font-size:9px">Anmeldungen: {cAnmeldungen}<br />
      Zusagen: {cZusagen}</span></td>
  </tr>
  {EXPLODE}
  <tr class="class">
    <td colspan="5">{msg}</td>
  </tr>
  {EXPLODE}
</table>
{EXPLODE}<br /> {MPL}
<font style="font-size:10px;" class="smallfont">
<img src='include/images/icons/online.gif'>Angemeldet <img src='include/images/icons/offline.gif'>Nicht 
  Angemeldet<br />
<br><b>Raid Status:</b>
<br><b>Aktive</b> = Raid hat noch nicht Begonnen.
<br><b>Bendet</b> = Raid wurde erfolgreich Absolviert.
<br><b>Abgesagt</b> = Raid wir nicht statt finden.
<br><b>Abgebrochen</b> = Raid hat statt gefunden, jedoch wurde es unterbrochen.
<br>
</font>
