<form name="form" method="post" action="{pfad}">
  <table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
   <tr ><td colspan=2 class=\'Chead\'><b>Template Erstellen Bearbeiten</b></td></tr>
    <tr class="Cmite">
      <td width="12%">Key:</td>
      <td width="88%">
        <input name="key" type="text" id="key" value="{key}" size=50>
      </td>
    </tr>
    <tr class=\'Cnorm\'>
      <td valign="top">Quellcode:</td>
      <td><textarea name="quell" id="quell" cols="200" rows="25">{temp}</textarea></td>
    </tr>
    <tr class=\'Cmite\'>
      <td valign="top"> </td>
      <td> <input type="submit" name="button" id="button" value="Speichern"></td>
    </tr>
  </table>
</form>
