<center><h1>{inzen}</h1></center><br />
<center>
<div style="text-transform:uppercase; font-size:10px; font-weight:bold;" class="smallfont">{date}</div>
<span style="text-transform:uppercase; font-size:14px;"><strong><font color="#009900">Invite:</font><font color="green">{inv} </font>&#8226; <font color="#0000FF">Pull:</font><font color="blue"> {pull} </font>&#8226; <font color="#FF0000">Raidende:</font><font color="red"> {ende}</font></strong></span>
</center>
<br /><br />
<table width="100%" border="0" cellspacing="1" cellpadding="1" class="border">
  <tr class="Cnorm">
    <td width="1" style="background-color:#CCCCCC;">{back}</td>
    <td width="1" style="background-color:#CCCCCC;">{sdkp}</td>
    <td width="1" style="background-color:#CCCCCC;">{adkp}</td>
    <td width="1" style="background-color:#CCCCCC;">{edit}</td>
    <td align="right" nowrap="nowrap"><strong>{gamers}/{size} Zusagen</strong></td>
  </tr>
</table>

<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
  <tr>
    <td class="Chead" align="center">{img}</td>
  </tr>
</table>
<br />
{pz}<br />
<div align="justify">{txt}<br />
  {regeln}</div>
<br />
  <table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
    <tr class="Chead">
      <td colspan="2">Details</td>
    </tr>
    <tr class="Cnorm">
      <td>Ansprechperson:</td>
      <td>{leader}</td>
    </tr>
    <tr class="Cnorm">
      <td>Raid Status:</td>
      <td>{statusmsg}</td>
    </tr>
    <tr class="Cnorm">
      <td>DKP Gruppe:</td>
      <td>{gruppen}</td>
    </tr>
    <tr class="Cnorm">
      <td>Treffpunkt:</td>
      <td>{treff}</td>
    </tr class="Cnorm">
    <tr class="Cnorm">
      <td>Lootregeln:</td>
      <td>{loot}</td>
    </tr>
    <tr class="Cnorm">
      <td>Bosscounter:</td>
      <td><a href="javascript:creatWindow( '{biinfo}', 'Bossinfos', '450', '350' );">{death}/{maxbosse} Bosse sind Tot</a></td>
    </tr>
  </table>
<br />
{EXPLODE}
  <table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
    <tr class="Cmite">
      <td>{msg}</td>
    </tr>
  </table>