<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border" style="">
  <tr class="Chead">
    <td colspan="2"><strong>Angemeldet</strong></td>
    <td><strong>Kommentar</strong></td>
    <td width="3%"> </td>
    <td width="5%" align="right" nowrap="nowrap">DKP</td>
  </tr>
  {EXPLODE}
  <tr class="{CLASS}">
    <td width="4%" valign="middle" class="Chead">{img}</td>
    <td nowrap="nowrap">{name} ({level})<br />
    <div style="font-size:9px;">&raquo; {skillgruppen}</div></td>
    <td class="Stil1">{kom}</td>
    <td align="center" nowrap="nowrap" bgcolor="{color}"><strong>{statusmsg}</strong></td>
    <td align="right" nowrap="nowrap">{DKP}</td>
  </tr>
  {EXPLODE}
  <tr class="{CLASS}">
    <td colspan="5" valign="top" class="Cnorm">Keine Anmeldungen Vorhanden!</td>
  </tr>
  {EXPLODE}
</table>
