<form name="form" method="post" action="{PFAD}">
     <table width="100%" border="0" cellspacing="1" cellpadding="2" class='border'>
        <tr class='Chead'> 
            <td colspan="2"><span class="Stil1">RAID PLANER</span></td>
          </tr>
          <tr class='Cnorm'> 
            <td>Status:</td>
            <td>{status}</td>
          </tr>
          <tr class='Cnorm'> 
            <td>Leader</td>
            <td>{char}</td>
          </tr>
          <tr class='Cnorm'> 
            <td>DKP Gruppe:</td>
            <td>{gruppen} id fortsetzen 
              <select name="bosskey" id="bosskey">
            	{bbid}
			</select></td>
          </tr>
          <tr class='Cnorm'> 
            <td>Inztanze:</td>
            <td>{inzen}</td>
          </tr>
          <tr class='Cnorm'> 
            <td>Treffpunkt:</td>
            <td><input name="treff" type="text" value="{treff}"></td>
          </tr>
          <tr class='Cnorm'> 
            <td>Loot:</td>
            <td>{loot}</td>
          </tr>
          <tr class='Cnorm'> 
            <td>Datum:</td>
            <td> <input value="{begind}" name="begind" size="12" maxlength="10" onClick="xajax_XAJAX_showCalendar('','','begind')" />
              YYYY-MM-TT</td>
          </tr>
          <tr class='Cnorm'> 
            <td>Invite:</td>
            <td><label>
              <input name="istd" type="text" id="istd" value="{istd}" size="2" maxlength="2" />
            </label>
            :
            <input name="imin" type="text" id="imin" value="{imin}" size="2" maxlength="2" /> 
            Uhr <font size="1">( Std. : Min. )</font></td>
          </tr>
          <tr class='Cnorm'> 
            <td>Pull:</td>
            <td><label>
              <input name="pstd" type="text" id="pstd" value="{pstd}" size="2" maxlength="2" />
            </label>
:
<input name="pmin" type="text" id="istd4" value="{pmin}" size="2" maxlength="2" />
 Uhr <font size="1">( Std. : Min. )</font></td>
          </tr>
          <tr class='Cnorm'> 
            <td>Ende:</td>
            <td><label>
              <input name="estd" type="text" id="istd5" value="{estd}" size="2" maxlength="2" />
            </label>
:
<input name="emin" type="text" id="istd6" value="{emin}" size="2" maxlength="2" />
 Uhr <font size="1">( Std. : Min. )</font></td>
          </tr>
          <tr class='Cnorm'>
            <td>mindest Anmeldezeit:</td>
            <td>
              <input name="invsperre" type="text" id="invsperre" value="{invsperre}" size="2" maxlength="2" />
            Std. vor Raidbegin. <em>(2 Stellig)</em></td>
          </tr>
          <tr class='Cnorm'> 
            <td>Info/Bemerkung/Ankümdigung</td>
            <td> 
              <!-- BB Code START -->
              <a href="javascript:simple('b')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.bold.gif" alt="b" title="{_lang_bold}" border="0"></a> 
              <a href="javascript:simple('i')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.italic.gif" alt="i" title="{_lang_italic}" border="0"></a> 
              <a href="javascript:simple('u')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.underline.gif" alt="u" title="{_lang_underlined}" border="0"></a> 
              <a href="javascript:simple('code')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.code.gif" alt="Code" title="{_lang_code}" border="0"></a> 
              <a href="javascript:simple_liste()"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.insertunorderedlist.gif" alt="{_lang_list}" title="{_lang_list}" border="0"></a> 
              <a href="javascript:simple('url')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.link.gif" alt="Url" title="{_lang_link}" border="0"></a> 
              <a href="javascript:simple('img')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.image.gif" alt="{_lang_picture}" title="{_lang_picture}" border="0"></a> 
              <!-- BB Code ENDE -->            </td>
          </tr>
          <tr class='Cnorm'>
            <td><div align="center">{SMILIS}</div></td>
            <td><textarea name="txt" cols="80" rows="10" id="txt">{txt}</textarea></td>
          </tr>
          <tr class='Cnorm'> 
            <td> </td>
            <td><input type="submit" name="Submit" value="Abschicken"></td>
          </tr>
        </table>
      </form>