nbproject/*
include/downs/downloads/downs/.gitignore
include/downs/downloads/user_upload/.gitignore
info_update.txt
update.php
admin.php
changelog.txt
include/admin/admin.php
include/admin/allg.php
include/admin/archiv.php
include/admin/awards.php
include/admin/backup.php
include/admin/checkconf.php
include/admin/compatibility.php
include/admin/contact.php
include/admin/forum.php
include/admin/gallery.php
include/admin/gbook.php
include/admin/groups.php
include/admin/grundrechte.php
include/admin/history.php
include/admin/impressum.php
include/admin/kalender.php
include/admin/kasse.php
include/admin/menu.php
include/admin/news.php
include/admin/newsletter.php
include/admin/picofx.php
include/admin/profilefields.php
include/admin/puser.php
include/admin/range.php
include/admin/rules.php
include/admin/selfbp.php
include/admin/smilies.php
include/admin/smtpconf.php
include/admin/templates/JSCookMenu/arrow.gif
include/admin/templates/JSCookMenu/arrowdown.gif
include/admin/templates/JSCookMenu/blank.gif
include/admin/templates/JSCookMenu/theme.css
include/admin/templates/JSCookMenu/theme.js
include/admin/templates/archiv/downloads.htm
include/admin/templates/archiv/links.htm
include/admin/templates/archiv/partners.htm
include/admin/templates/archiv/upload.htm
include/admin/templates/archiv/upload_move_file.htm
include/admin/templates/awards.htm
include/admin/templates/backup.htm
include/admin/templates/checkconf.htm
include/admin/templates/compatibility.htm
include/admin/templates/contact.htm
include/admin/templates/forum/eforum.htm
include/admin/templates/forum/forum.htm
include/admin/templates/forum/mods.htm
include/admin/templates/forum/repair.htm
include/admin/templates/gallery/delkat.htm
include/admin/templates/gallery/gallery.htm
include/admin/templates/gallery/images_reload.htm
include/admin/templates/gallery/images_upload.htm
include/admin/templates/gbook.htm
include/admin/templates/groups/funcs.htm
include/admin/templates/groups/groups.htm
include/admin/templates/groups/joinus.htm
include/admin/templates/groups/users.htm
include/admin/templates/history.htm
include/admin/templates/index.htm
include/admin/templates/kalender.htm
include/admin/templates/kasse.htm
include/admin/templates/menu.htm
include/admin/templates/news.htm
include/admin/templates/newsletter.htm
include/admin/templates/profilefields.htm
include/admin/templates/puser.htm
include/admin/templates/range.htm
include/admin/templates/rules.htm
include/admin/templates/selfbp-imagebrowser.htm
include/admin/templates/selfbp.htm
include/admin/templates/smilies.htm
include/admin/templates/smtpconf.htm
include/admin/templates/style.css
include/admin/templates/style_blau_orange.css
include/admin/templates/trains.htm
include/admin/templates/user/details.htm
include/admin/templates/user/gruppen.htm
include/admin/templates/user/modulrecht.htm
include/admin/templates/user/new_user.htm
include/admin/templates/user/new_user_email.htm
include/admin/templates/user/user.htm
include/admin/templates/vote.htm
include/admin/templates/wars/info.htm
include/admin/templates/wars/last.htm
include/admin/templates/wars/last_member.htm
include/admin/templates/wars/next.htm
include/admin/templates/wars/upload.htm
include/admin/trains.php
include/admin/user.php
include/admin/vote.php
include/admin/wars.php
include/backup/bigdump.php
include/boxes/adminmenu.php
include/boxes/allianz.php
include/boxes/calender.php
include/boxes/designs.php
include/boxes/geburtstag.php
include/boxes/lastforum.php
include/boxes/lastnews.php
include/boxes/lastwars.php
include/boxes/login.php
include/boxes/newsletter.php
include/boxes/nextwars.php
include/boxes/online.php
include/boxes/picofx.php
include/boxes/search.php
include/boxes/shoutbox.php
include/boxes/statistik.php
include/boxes/vote.php
include/contents/awards.php
include/contents/awaycal.php
include/contents/contact.php
include/contents/downloads.php
include/contents/fightus.php
include/contents/forum/del_post.php
include/contents/forum/edit_forum.php
include/contents/forum/edit_post.php
include/contents/forum/edit_topic.php
include/contents/forum/menu.php
include/contents/forum/new_post.php
include/contents/forum/new_topic.php
include/contents/forum/privmsg.php
include/contents/forum/search.php
include/contents/forum/show_cat.php
include/contents/forum/show_forum.php
include/contents/forum/show_posts.php
include/contents/forum/show_topic.php
include/contents/forum/suchen.php
include/contents/forum.php
include/contents/gallery.php
include/contents/gbook.php
include/contents/history.php
include/contents/impressum.php
include/contents/joinus.php
include/contents/kalender.php
include/contents/kasse.php
include/contents/links.php
include/contents/news.php
include/contents/rules.php
include/contents/search.php
include/contents/self.php
include/contents/shoutbox.php
include/contents/sitemap.php
include/contents/statistik.php
include/contents/teams.php
include/contents/trains.php
include/contents/user/confirm.php
include/contents/user/login.php
include/contents/user/logout.php
include/contents/user/mail.php
include/contents/user/memb_list.php
include/contents/user/password_reminder.php
include/contents/user/profil_edit.php
include/contents/user/regist.php
include/contents/user/user_details.php
include/contents/user/usergallery.php
include/contents/user.php
include/contents/vote.php
include/contents/wars.php
include/designs/ilchClan/design.ini
include/designs/ilchClan/img/box_left_bottom.gif
include/designs/ilchClan/img/box_left_middle.gif
include/designs/ilchClan/img/box_left_top.gif
include/designs/ilchClan/img/box_menu_pfeil.gif
include/designs/ilchClan/img/box_menu_trennlinie.gif
include/designs/ilchClan/img/box_middle-right_top.gif
include/designs/ilchClan/img/box_middle-right_top11.gif
include/designs/ilchClan/img/box_middle_bottom.gif
include/designs/ilchClan/img/box_mittle-right_middle.gif
include/designs/ilchClan/img/box_right_bottom.gif
include/designs/ilchClan/img/contentbg.gif
include/designs/ilchClan/img/footer.gif
include/designs/ilchClan/img/logo.gif
include/designs/ilchClan/img/top.gif
include/designs/ilchClan/img/top2.gif
include/designs/ilchClan/index.htm
include/designs/ilchClan/style.css
include/images/avatars/maennlich.jpg
include/images/avatars/weiblich.jpg
include/images/avatars/wurstegal.jpg
include/images/flags/Albania.gif
include/images/flags/Armenia.gif
include/images/flags/Austria.gif
include/images/flags/Belgium.gif
include/images/flags/Bulgaria.gif
include/images/flags/Canada.gif
include/images/flags/Croatia.gif
include/images/flags/Czech_Republic.gif
include/images/flags/Denmark.gif
include/images/flags/Estonia.gif
include/images/flags/Finland.gif
include/images/flags/France.gif
include/images/flags/Germany.gif
include/images/flags/Great_Britain.gif
include/images/flags/Greece.gif
include/images/flags/Greenland.gif
include/images/flags/Hungary.gif
include/images/flags/Ireland.gif
include/images/flags/Island.gif
include/images/flags/Israel.gif
include/images/flags/Italy.gif
include/images/flags/Latvia.gif
include/images/flags/Liechtenstein.gif
include/images/flags/Luxembourg.gif
include/images/flags/Monaco.gif
include/images/flags/Netherlands.gif
include/images/flags/Norway.gif
include/images/flags/Poland.gif
include/images/flags/Portugal.gif
include/images/flags/Romania.gif
include/images/flags/Russia.gif
include/images/flags/Slovak_Republic.gif
include/images/flags/Slovenia.gif
include/images/flags/Spain.gif
include/images/flags/Sweden.gif
include/images/flags/Switzerland.gif
include/images/flags/Turkey.gif
include/images/flags/USA.gif
include/images/flags/Ukraina.gif
include/images/flags/Vatican.gif
include/images/flags/Yemen.gif
include/images/flags/Yugoslavia.gif
include/images/forum/cord.gif
include/images/forum/nord.gif
include/images/forum/oalt.gif
include/images/forum/ord.gif
include/images/icons/admin/awards.png
include/images/icons/admin/backup.png
include/images/icons/admin/box_header.png
include/images/icons/admin/calendar.png
include/images/icons/admin/contact.png
include/images/icons/admin/downloads.png
include/images/icons/admin/forum.png
include/images/icons/admin/gallery.png
include/images/icons/admin/guestbook.png
include/images/icons/admin/history.png
include/images/icons/admin/imprint.png
include/images/icons/admin/info.png
include/images/icons/admin/kasse.png
include/images/icons/admin/konfiguration.png
include/images/icons/admin/links.png
include/images/icons/admin/menubar_bg.png
include/images/icons/admin/menubar_bg_hover.png
include/images/icons/admin/na.png
include/images/icons/admin/navigation.png
include/images/icons/admin/news.png
include/images/icons/admin/newsletter.png
include/images/icons/admin/partners.png
include/images/icons/admin/picofx.png
include/images/icons/admin/ranks.png
include/images/icons/admin/rules.png
include/images/icons/admin/self_page_box.png
include/images/icons/admin/smilies.png
include/images/icons/admin/smtpconf.png
include/images/icons/admin/stats.png
include/images/icons/admin/stats_online.png
include/images/icons/admin/stats_site.png
include/images/icons/admin/stats_visitor.png
include/images/icons/admin/teams.png
include/images/icons/admin/training_times.png
include/images/icons/admin/user.png
include/images/icons/admin/user_add.png
include/images/icons/admin/user_profile_fields.png
include/images/icons/admin/user_rights.png
include/images/icons/admin/version_check.png
include/images/icons/admin/vote.png
include/images/icons/admin/warning.png
include/images/icons/admin/wars_last.png
include/images/icons/admin/wars_next.png
include/images/icons/birthday.gif
include/images/icons/button.bold.gif
include/images/icons/button.code.gif
include/images/icons/button.forecolor.gif
include/images/icons/button.image.gif
include/images/icons/button.insertorderedlist.gif
include/images/icons/button.insertunorderedlist.gif
include/images/icons/button.italic.gif
include/images/icons/button.justifycenter.gif
include/images/icons/button.justifyleft.gif
include/images/icons/button.justifyright.gif
include/images/icons/button.link.gif
include/images/icons/button.size.gif
include/images/icons/button.underline.gif
include/images/icons/button.view_source.gif
include/images/icons/button.view_text.gif
include/images/icons/del.gif
include/images/icons/diashow.gif
include/images/icons/edit.gif
include/images/icons/editor/add_column_after.gif
include/images/icons/editor/add_column_before.gif
include/images/icons/editor/add_row_above.gif
include/images/icons/editor/add_row_below.gif
include/images/icons/editor/back.gif
include/images/icons/editor/bold.gif
include/images/icons/editor/bullet.gif
include/images/icons/editor/cal.gif
include/images/icons/editor/center.gif
include/images/icons/editor/clean.gif
include/images/icons/editor/color.gif
include/images/icons/editor/compressed.gif
include/images/icons/editor/delete_column.gif
include/images/icons/editor/delete_row.gif
include/images/icons/editor/dir.gif
include/images/icons/editor/doc.gif
include/images/icons/editor/generic.gif
include/images/icons/editor/hilite.gif
include/images/icons/editor/html.gif
include/images/icons/editor/image.gif
include/images/icons/editor/indent.gif
include/images/icons/editor/italic.gif
include/images/icons/editor/justify.gif
include/images/icons/editor/left.gif
include/images/icons/editor/link.gif
include/images/icons/editor/number.gif
include/images/icons/editor/outdent.gif
include/images/icons/editor/pdf.gif
include/images/icons/editor/ppt.gif
include/images/icons/editor/redo.gif
include/images/icons/editor/right.gif
include/images/icons/editor/rtf.gif
include/images/icons/editor/rule.gif
include/images/icons/editor/spellcheck.gif
include/images/icons/editor/table.gif
include/images/icons/editor/table_in_cell.gif
include/images/icons/editor/text.gif
include/images/icons/editor/underline.gif
include/images/icons/editor/undo.gif
include/images/icons/editor/unknown.gif
include/images/icons/editor/web.gif
include/images/icons/editor/word.gif
include/images/icons/editor/xls.gif
include/images/icons/insert_table.gif
include/images/icons/jep.gif
include/images/icons/los.gif
include/images/icons/mail.gif
include/images/icons/minus.gif
include/images/icons/nop.gif
include/images/icons/offline.gif
include/images/icons/ok.gif
include/images/icons/online.gif
include/images/icons/pad.gif
include/images/icons/page.gif
include/images/icons/pfeil_nach_rechts_unten.jpg
include/images/icons/pfeila.gif
include/images/icons/pfeill.gif
include/images/icons/pfeilo.gif
include/images/icons/pfeilr.gif
include/images/icons/pfeilu.gif
include/images/icons/plus.gif
include/images/icons/reload.gif
include/images/icons/separator.gif
include/images/icons/upload.gif
include/images/icons/win.gif
include/images/news/Allgemein.gif
include/images/smiles/1.gif
include/images/smiles/10.gif
include/images/smiles/2.gif
include/images/smiles/3.gif
include/images/smiles/4.gif
include/images/smiles/5.gif
include/images/smiles/6.gif
include/images/smiles/7.gif
include/images/smiles/8.gif
include/images/smiles/9.gif
include/images/spam/1.jpg
include/images/spam/2.jpg
include/images/spam/3.jpg
include/images/spam/4.jpg
include/images/spam/5.jpg
include/images/spam/6.jpg
include/images/spam/7.jpg
include/images/spam/8.jpg
include/images/spam/9.jpg
include/images/spam/ist.jpg
include/images/spam/minus.jpg
include/images/spam/plus.jpg
include/images/spam/z.php
include/images/vote/voteLeft.jpg
include/images/vote/voteMitte.jpg
include/images/vote/voteMitte.png
include/images/vote/voteRight.jpg
include/images/wargames/aao.gif
include/images/wargames/bf1942.gif
include/images/wargames/ccg.gif
include/images/wargames/cod.gif
include/images/wargames/cod2.gif
include/images/wargames/cs.gif
include/images/wargames/cscz.gif
include/images/wargames/css.gif
include/images/wargames/dod.gif
include/images/wargames/et.gif
include/images/wargames/fifa.gif
include/images/wargames/halflife.gif
include/images/wargames/lfs.gif
include/images/wargames/mohaa.gif
include/images/wargames/nfsug.gif
include/images/wargames/sc.gif
include/images/wargames/soldner.gif
include/images/wargames/ut2004.gif
include/images/wargames/war3.gif
include/includes/captcha/Captcha.php
include/includes/captcha/MemorySession.php
include/includes/captcha/captchaimg.php
include/includes/captcha/fonts/D3 Electronism.ttf
include/includes/captcha/fonts/D3 Radicalism.ttf
include/includes/captcha/fonts/Weird.ttf
include/includes/captcha/fonts/Weirdo.ttf
include/includes/captcha/fonts/Weiss Initialen.ttf
include/includes/captcha/fonts/WhallyWhilly.ttf
include/includes/captcha/fonts/fontinfo.txt
include/includes/captcha/fonts/webster.ttf
include/includes/captcha/settings.php
include/includes/class/AzDGCrypt.class.inc.php
include/includes/class/design.php
include/includes/class/menu.php
include/includes/class/phpmailer/class.phpmailer.php
include/includes/class/phpmailer/class.pop3.php
include/includes/class/phpmailer/class.smtp.php
include/includes/class/pwcrypt.php
include/includes/class/tpl.php
include/includes/class/xajax.php4.inc.php
include/includes/class/xajax.php5.inc.php
include/includes/config.php
include/includes/func/allg.php
include/includes/func/bbcode.php
include/includes/func/calender.php
include/includes/func/db/mysql.php
include/includes/func/debug.php
include/includes/func/escape.php
include/includes/func/forum.php
include/includes/func/gallery.php
include/includes/func/ic_mime_type.php
include/includes/func/listen.php
include/includes/func/profilefields.php
include/includes/func/smtp.php
include/includes/func/statistic.php
include/includes/func/user.php
include/includes/func/warsys.php
include/includes/init.php
include/includes/js/JSCookMenu.js
include/includes/js/bbcode.js
include/includes/js/captcha.js
include/includes/js/editor/deutsch.js
include/includes/js/editor/whizzywig.js
include/includes/js/editor.js
include/includes/js/regist.js
include/includes/js/search.js
include/includes/lang/de.php
include/includes/lang/en.php
include/includes/loader.php
include/includes/xajax_js/xajax_core.js
include/includes/xajax_js/xajax_debug.js
include/includes/xajax_js/xajax_lang_bg.js
include/includes/xajax_js/xajax_lang_de.js
include/includes/xajax_js/xajax_lang_es.js
include/includes/xajax_js/xajax_lang_fr.js
include/includes/xajax_js/xajax_lang_nl.js
include/includes/xajax_js/xajax_lang_tr.js
include/includes/xajax_js/xajax_legacy.js
include/includes/xajax_js/xajax_verbose.js
include/templates/awards.htm
include/templates/awaycal.htm
include/templates/codereplace.htm
include/templates/contact.htm
include/templates/downloads.htm
include/templates/downloads_show.htm
include/templates/fightus.htm
include/templates/forum/del_post.htm
include/templates/forum/editforum.htm
include/templates/forum/newpost.htm
include/templates/forum/newtopic.htm
include/templates/forum/pm/new.htm
include/templates/forum/pm/show.htm
include/templates/forum/pm/show_mess.htm
include/templates/forum/pm/show_mess_send.htm
include/templates/forum/pm/showsend.htm
include/templates/forum/postedit.htm
include/templates/forum/search.htm
include/templates/forum/show_cat.htm
include/templates/forum/showforum.htm
include/templates/forum/showpost.htm
include/templates/forum/showtopic.htm
include/templates/gallery.htm
include/templates/gallery_show.htm
include/templates/gallery_showcat.htm
include/templates/gbook.htm
include/templates/history.htm
include/templates/joinus.htm
include/templates/kalender.htm
include/templates/kasse.htm
include/templates/links.htm
include/templates/news.htm
include/templates/news_atom.htm
include/templates/news_rss.htm
include/templates/search.htm
include/templates/search_finduser.htm
include/templates/sitemap.htm
include/templates/small_index.htm
include/templates/teams.htm
include/templates/trains.htm
include/templates/user/boxen_login.htm
include/templates/user/gallery.htm
include/templates/user/login.htm
include/templates/user/memb_list.htm
include/templates/user/new_pass.htm
include/templates/user/profil_edit.htm
include/templates/user/regist.htm
include/templates/user/userdetails.htm
include/templates/wars.htm
include/templates/wars_last.htm
include/templates/wars_next.htm
include/templates/weiterleitung.htm
include/templates/zitatreplace.htm
index.php
info.txt
install.php
install.sql
scandir.php
include/raidplaner/images/bosse/*