<script type="text/javascript" language="javascript1.5">
<!--
function CheckAll(){
	if(document.FormRang.ALL){
		var c = document.FormRang.ALL.checked;
	}
	for (var i=0;i<document.FormRang.elements.length;i++){
		var e = document.FormRang.elements[i];
		if(e.name != 'ALL') {
			if((e.checked!=c)&&(e.type=="checkbox")){
			 e.click();
			 e.checked = c;
			}
		}
	}
}

function bossrezzen(boss)
{	var id = boss.id;
	var name = boss.innerHTML;
	
	var status = confirm( "\"" + name + "\" Wiederbeleben?\n OK fuer Ja, Abbrechen fuer Nein" );
	if( status )
		document.location.href = document.location.href + "-rezzen-" + id;
}
//-->
</script>

<fieldset>
    <legend>DKP</legend>
    <form action="{PFAD}" method="post" enctype="application/x-www-form-urlencoded">

        <table width="45%" border="0" cellspacing="1" cellpadding="5">
            <tr>
                <td class="buttonset">
                    {ENDE} <a href="admin.php?raid">Zur&uuml;ck zur Raid &uuml;bersicht</a>
                </td>
            </tr>
            <tr valign="top"> 
                <td>
                    <select name="chars[]" size="15" multiple id="chars" style="float:left; margin-right: 2px;">
                        {chars}
                    </select>
                    <select id="punkte" name="punkte" size="15" style="float:left; margin-right: 2px;">
                        {DKP}
                    </select>
                    <select id="bosse" name="boss" size="15" 
                      ondblclick="bossrezzen(this.options[this.options.selectedIndex]);" style="float:left;  margin-right: 2px;">
                        {BOSSE}
                    </select>
                    <div class="form-round">
                        <h4><strong>Eigene DKP Definieren</strong></h4>
                        <input id="sinfo" name="sinfo" type="text" size="30" placeholder="info" /> <br />
                        <input id="sdkp" name="sdkp" type="text" size="30" maxlength="8" placeholder="-150"/>
                    </div>
                    <br />
                    <input type="submit" value="Speichern" style="width: 100%; margin-bottom: 1px; background-color: #B0FFB0; color:black; font-weight:bolder;" /><br />
                    <input type="reset" value="L&ouml;schen" style="width: 100%; margin-bottom: 1px; background-color: #FFA8A8; color:black; font-weight:bolder;" />
                </td>
            </tr>
        </table>
    </form>
</fieldset>
{EXPLODE}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="50%" valign="top">
            <fieldset id="verlauf" style="padding: 5px;">
                <legend>Verlauf</legend>
                <form name="form2" method="post" action="{PFAD}">
                    <select name="versort" id="versort">
                        <option value="1">Name</option>
                        <option value="2">Info</option>
                        <option value="3">PM</option>
                        <option value="4">DKP</option>
                        <option value="5">Datum</option>
                    </select>
                    <select name="updown" id="select3">
                        <option value="ASC">Absteigend</option>
                        <option value="DESC">Aufsteigend</option>
                    </select>
                    <input type="submit" name="Submit3" value="Sortiren">
                </form>
                <hr>
                <table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
                    <tr class="Chead"> 
                        <td colspan="2">Name</td>
                        <td width="35%">Info</td>
                        <td width="18%" align="center">Punkte</td>
                        <td align="center">Zeit</td>
                        <td>&nbsp;</td>
                    </tr>
                    {EXPLODE} 
                    <tr class="{CLASS}"> 
                        <td width="6%" class="Chead"><div align="center"><strong>{nr}</strong></div></td>
                        <td width="15%" nowrap><b>{name}</b></td>
                        <td align="left" nowrap>{info}</td>
                        <td style="font-size:18px; font-weight:bold;" align="center" nowrap>{dkp}</td>
                        <td width="22%" align="center" nowrap>{date}</td>
                        <td width="4%" align="center" valign="middle">{DEL}</td>
                    </tr>
                    {EXPLODE} 
                </table>
            </fieldset>
        </td>
        
        <td width="50%" valign="top">

            <fieldset id="userdkp" style="padding: 5px;">
                <legend>User DKP</legend>
                <form name="form1" method="post" action="{PFAD}">
                    {addchar}
                    <select name="stat" id="stat">
                        {msg}
                    </select>
                    <input name="admsg" type="text" id="admsg" value="Vom Raidleiter Angmeldet" size="40" /> 
                    <input type="submit" name="Submit2" value="Hinzuf&uuml;gen">
                </form>
                <hr>
                <form name="FormRang" method="post" action="{PFADA}">
                    <table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
                        <tr class="Chead">
                            <td colspan="2">Name</td>
                            <td>DKP</td>
                            <td align="right" nowrap="nowrap">Alle: <input name="ALL" type="checkbox" value="CHECK ALL" onclick="CheckAll();" /></td>
                        </tr>
                        {EXPLODE}
                        <tr class="{CLASS}">
                            <td align="center" class="Chead"><strong>{nr}</strong></td>
                            <td align="left"><div style="float:left;">{name} - ({klassen})</div><div style="float:right;">{del}</div><br /><div style="font-size:9px;">{sb}<br />{datum}</div></td>
                            <td align="center" nowrap="nowrap" style="font-size:20px; font-weight:bold; font:Arial;">{dkp}</td>
                            <td align="right" nowrap="nowrap" bgcolor="{color}">{statusmsg}<input name="cid[]" type="checkbox" id="cid[]" value="{cid}" /></td>
                        </tr>
                        {EXPLODE}
                        <tr class="Cdark">
                            <td colspan="4" class="Chead" align="right">      
                                <select name="all" id="all" onchange="submit();">
                                    <option value="">Keine Auswahl</option>
                                    {msg}
                                </select>
                                <span style="text-align: right;"><img src="include/images/icons/pfeil_nach_rechts_unten.jpg" alt="" /></span>
                            </td>
                        </tr> 
                    </table>
                </form>
            </fieldset>
        </td>
    </tr>
</table>
<br style="clear:both;" />