<script type="text/javascript">

</script>
<style type="text/css">
.Cnorm:hover { background-color: #1e1e1e; color: #FF6600; }
</style>
<div style="margin: auto; width: 500px;"><div style="float:left;">{max} items</div><div style="float:right;"><a href="admin.php?raiditems-new">install new itemlist.gz</a></div>
</div><br /><br />
<table width="500" border="0" align="center" cellpadding="2" cellspacing="1" class="border">
  <tr class="Chead">
    <td width="26" >ID</td>
    <td width="369" nowrap>NAME</td>
    <td width="51" align="center">DROPS</td>
    <td width="33" align="right"></td>
  </tr>
{EXPLODE}
  <tr class="Cnorm">
    <td class="Cnorm">{id}</td>
    <td nowrap>{name}</td>
    <td align="center">{drop}</td>
    <td align="right">{del}<div id="itemImage-{id}" style="position: absolute; display: none; float: left;"></div></td>
  </tr>
{EXPLODE}
  <tr class="Cnorm">
    <td colspan="4" align="center">{mpl}</td>
  </tr>
</table>
<br style="clear: both;" />
{EXPLODE}
<div style="margin: auto; width: 500px; text-align: center;">{msg}</div>
{EXPLODE}
<div style="margin: auto; width: 500px; text-align: center; border: 1px dotted black; padding: 2px;"> Hier k&ouml;nnen sie eine neue itemlist.gz einspielen! <br>
hier gibts die gz datei <a href="http://wowdata.buffed.de/xml/itemlist.gz" target="_xmldl">http://wowdata.buffed.de/xml/itemlist.gz</a>! <br>
<br>
Oder versuchen sie die itemlist.gz zu &gt; <a href="admin.php?raiditems-copy">Kopieren</a> &lt;<br>
<br>
Das &Uuml;berspielen geht auf eigene gefahr, machen sie eine Abbild der Datanbank!<br>
<br>
<form action="admin.php?raiditems-install" method="post" enctype="multipart/form-data" name="form1">
    <input name="file" type="file" id="file" size="50">
    <input type="submit" name="button" id="button" value="Hochladen">
  </form>
</div>
