<form id="form" name="form" method="post" action="{pfad}">
  <p><br />
    <br />
  </p>
  <p><strong>Benutzung auf eigene Gefahr!</strong> <strong>Bitte Alles Lesen</strong>!</p>
  <table width="100%" border="0" cellpadding="2" cellspacing="5" bgcolor="#FF0000">

    <tr class="Cnorm">
      <td width="20%" valign="top"><strong>Module</strong>: Immer die Zahl von einem Modul gefolgt von einem koma &quot;,&quot; angeben, wenn ihr dem Rang diese Seite erlauben wollt!</td>
      <td width="20%" valign="top"><strong>Wichtig</strong>: Modul <strong>808</strong> sollte man nicht jeden geben, man kann sich zugriff auf alle anderen Module Verschaffen! Kurz gesagt er k&auml;me auf diese Seite und kann sich seine Erlaubnis Selber Holen! Modul <strong>810</strong> ist mehr eine Sperre f&uuml;r Klassensprecher damit sie nur die Leute Bearbeiten k&ouml;nnen dessen Klasse sie auch selber sind.</td>
      <td width="20%" valign="top" nowrap="nowrap"><strong>Raidplaner Module!</strong><br />
      {list_raid_module} </td>
      <td width="20%" valign="top" nowrap="nowrap"><strong>Nicht Raidplaner Module!</strong><br />
      {list_noraid_module}</td>
      <td width="20%" valign="top"><p><strong>Info</strong>: Modulrechte werden Automatisch den Usern dessen Chars zugeordnet. Erneut Syncrnisiren:</p>
      <div align="center">[ <a href="admin.php?raidrang-update">Jetzt Syncronisieren</a> ]</div></td>
    </tr>
  </table>
  <br />
  <table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
    <tr class="Chead">
      <td><strong>R&auml;nge</strong></td>
      <td><strong>Info</strong></td>
      <td><strong>Darf Module nutzen</strong></td>
    </tr>
    {EXPLODE}
    <tr class="{class}">
      <td width="1%" nowrap="nowrap">        <input name="r[{id}]" type="text" id="r[{id}]" value="{rang}" />      </td>
      <td width="49%" nowrap="nowrap">{info}</td>
      <td width="1%" nowrap="nowrap">        <input name="m[{id}]" type="text" id="m[{id}]" value="{module}" size="50" />      </td>
    </tr>
    {EXPLODE}
    <tr class="Cdark">
      <td><div align="right">
        <input type="submit" name="button" id="button" value="Speichern" />
      </div></td>
      <td colspan="2">&nbsp;</td>
    </tr>
  </table>
</form>
