<script type='text/javascript' src='include/includes/js/bbcode.js'></script>
<table width="100%" border="0" cellspacing="5" cellpadding="0">
  <tr>
    <td width="30%" valign="top">
        <form action="{pfad}" method="post" enctype="multipart/form-data" name="form">
            <input name="id" type="hidden" id="id" value="{id}" />
            <table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
                <tr>
                    <td colspan="2" class="Chead"><strong>Instanzen</strong></td>
                </tr>
                <tr class="Cnorm">
                    <td nowrap="nowrap">Name kurz:</td>
                    <td><input name="small" type="text" value="{small}" size="10" maxlength="10" placeholder="MC"/></td>
                </tr>
                <tr class="Cnorm">
                    <td nowrap="nowrap">Name:</td>
                    <td><input name="name" type="text" id="name" value="{name}" placeholder="Molten Core" /></td>
                </tr>
                <tr class="Cnorm">
                    <td nowrap="nowrap">Level:</td>
                    <td>{level}</td>
                </tr>
                <tr class="Cnorm">
                    <td nowrap="nowrap">Info:</td>
                    <td>{info}</td>
                </tr>
                <tr class="Cnorm">
                    <td nowrap="nowrap">Gruppengr&ouml;&szlig;e:</td>
                    <td>{grpsize}</td>
                </tr>
                <tr class="Cnorm">
                    <td nowrap="nowrap">Anzahl der Bosse:</td>
                    <td><input name="maxbosse" type="number" id="maxbosse" value="{maxbosse}" size="2" maxlength="2" /></td>
                </tr>
                <tr class="Cnorm">
                    <td nowrap="nowrap">Bild:</td>
                    <td nowrap="nowrap"><label> {img} <input type="file" name="imgUp" id="imgUp" /></label></td>
                </tr>

                <tr class="Cnorm">
                  <td>&nbsp;</td>
                  <td><input type="submit" value="Senden" /></td>
                </tr> 
            </table>
        </form>
    </td>
    <td width="70%" valign="top"><div align="center">
      <table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
        <tr class="Chead">
          <td nowrap="nowrap">&nbsp;</td>
          <td nowrap="nowrap"><div align="left"><strong>Ini Name</strong></div></td>
          <td nowrap="nowrap"><div align="left"><strong>Info</strong></div></td>
          <td nowrap="nowrap"><div align="left"><strong>Bild</strong></div></td>
          <td><div align="center"><strong>Level</strong></div></td>
          <td><div align="center"><strong> Bosse</strong></div></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        {EXPLODE}
        <tr class="{classe}">
          <td width="1%" nowrap="nowrap">{img}</td>
          <td width="21%" nowrap="nowrap"><div align="left"><strong>{name}</strong></div></td>
          <td width="21%" nowrap="nowrap"><div align="left">({grpsize}) {info}</div></td>
          <td width="20%" nowrap="nowrap"><div align="left">{imginfo}</div></td>
          <td width="8%"><div align="center">{level}</div></td>
          <td width="11%"><div align="center">{maxbosse}</div></td>
          <td width="1%">{edit}</td>
          <td width="1%">{del}</td>
        </tr>
        {EXPLODE}
        <tr class="Cnorm">
          <td colspan="8">{msg}</td>
          </tr>
        {EXPLODE}
      </table>
      <br />
      <table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
        <tr class="Chead">
          <td nowrap="nowrap"><div align="left"><strong>Instanzen Images</strong></div></td>
          <td>&nbsp;</td>
          </tr>
        {EXPLODE}
          <tr class="{class}">
            <td width="99%" nowrap="nowrap"><div align="left">{img}</div></td>
            <td width="1%">{del}</td>
          </tr>
        {EXPLODE}
          <tr class="Cnorm">
            <td colspan="2">{msg}</td>
          </tr>
        {EXPLODE}
      </table>
      <br />
    </div></td>
  </tr>
</table>

