<script type='text/javascript' src='include/includes/js/bbcode.js'></script>
<table width="100%" border="0" cellspacing="5" cellpadding="0">
  <tr>
    <td width="50%"><form action="{pfad}" method="post" enctype="multipart/form-data" name="form">
      <table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
        <tr>
          <td colspan="2" class="Chead"><strong>DKP Gruppen</strong></td>
          </tr>
        <tr class="Cnorm">
          <td nowrap="nowrap">Name:</td>
          <td><input name="gruppen" type="text" id="gruppen" value="{gruppen}" />
            <input name="id" type="hidden" id="id" value="{id}" /></td>
        </tr>
        <tr class="Cnorm">
          <td nowrap="nowrap">Stamm Gruppe:</td>
          <td>{stammgrp}</td>
        </tr>
        <tr class="Cnorm">
          <td nowrap="nowrap">Bild:</td>
          <td><label>
            {img}
                <input type="file" name="imgUp" id="imgUp" />
          </label></td>
        </tr>
        <tr class="Cnorm">
          <td rowspan="2" valign="top" nowrap="nowrap">Regeln:</td>
          <td><!-- BB Code START -->
              <a href="javascript:simple('b')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.bold.gif" alt="b" title="{_lang_bold}" border="0"></a> 
              <a href="javascript:simple('i')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.italic.gif" alt="i" title="{_lang_italic}" border="0"></a> 
              <a href="javascript:simple('u')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.underline.gif" alt="u" title="{_lang_underlined}" border="0"></a> 
              <a href="javascript:simple('code')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.code.gif" alt="Code" title="{_lang_code}" border="0"></a> 
              <a href="javascript:simple_liste()"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.insertunorderedlist.gif" alt="{_lang_list}" title="{_lang_list}" border="0"></a> 
              <a href="javascript:simple('url')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.link.gif" alt="Url" title="{_lang_link}" border="0"></a> 
              <a href="javascript:simple('img')"><img style="padding-left: 4%; float: left;" src="include/images/icons/button.image.gif" alt="{_lang_picture}" title="{_lang_picture}" border="0"></a> 
            <!-- BB Code ENDE --><br></td>
        </tr>
        <tr class="Cnorm">
          <td><textarea name="txt" cols="80" rows="10" id="txt">{regeln}</textarea></td>
        </tr>
        <tr class="Cnorm">
          <td>&nbsp;</td>
          <td><label>
            <input type="submit" name="button" id="button" value="Senden">
          </label></td>
        </tr>
      </table>
        </form>
    </td>
    <td width="50%" valign="top"><div align="center">
      <table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
        <tr class="Chead">
          <td nowrap="nowrap"><strong>id</strong></td>
          <td nowrap="nowrap"><div align="left"><strong>DKP Gruppen</strong></div></td>
          <td nowrap="nowrap"><div align="left"><strong>Stamm</strong></div></td>
          <td nowrap="nowrap"><div align="left"><strong>Bild</strong></div></td>
          <td><div align="center"><strong>Raids</strong></div></td>
          <td><div align="center"><strong>Bosskills</strong></div></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        {EXPLODE}
        <tr class="{clas}">
          <td width="1%" nowrap="nowrap">{id}</td>
          <td width="21%" nowrap="nowrap"><div align="left"><strong>{gruppen}</strong></div></td>
          <td width="21%" nowrap="nowrap"><div align="left">{stammgrp}</div></td>
          <td width="20%" nowrap="nowrap"><div align="left"><strong>{img}</strong></div></td>
          <td width="8%"><div align="center">{raids}</div></td>
          <td width="11%"><div align="center">{bkills}</div></td>
          <td width="1%">{edit}</td>
          <td width="1%">{del}</td>
        </tr>
        {EXPLODE}
        <tr class="Cnorm">
          <td colspan="8">{msg}</td>
          </tr>
        {EXPLODE}
      </table>
      <br />
      <table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
        <tr class="Chead">
          <td nowrap="nowrap"><div align="left"><strong>DKP Gruppen Images</strong></div></td>
          <td>&nbsp;</td>
          </tr>
        {EXPLODE}
          <tr class="{class}">
            <td width="99%" nowrap="nowrap"><div align="left">{img}</div></td>
            <td width="1%">{del}</td>
          </tr>
        {EXPLODE}
          <tr class="Cnorm">
            <td colspan="2">{msg}</td>
          </tr>
        {EXPLODE}
      </table>
      <br />
    </div></td>
  </tr>
</table>

