<script type='text/javascript' src='include/includes/js/bbcode.js'></script>


{EXPLODE}
<!-- EXPLODE 01 -->
<div class="col-lg-5">
    <form action="{pfad}" method="post" enctype="multipart/form-data" name="form">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td colspan="2"><strong>Instanz hinzuf&uuml;gen</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td nowrap="nowrap">Name:</td>
                    <td>
                        <input name="bosse" type="text" id="bosse" value="{bosse}" size="30" />
                        <input class="form-control" name="id" type="hidden" id="id" value="{id}" />
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Bild:</td>
                    <td>
                        <label>
                            {img}
                            <input type="file" name="imgUp" id="imgUp" />
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" name="button" id="button" value="Senden" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    {EXPLODE}
    <!-- EXPLODE 02 -->

    {EXPLODE}
    <!-- EXPLODE 03 -->

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td nowrap="nowrap"><div align="left"><strong>Boss Images</strong> (&Oslash; : K&ouml;nnen nicht Gel&ouml;scht werden, CHMOD)</div></td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            {EXPLODE}
            <tr>
                <td width="99%" nowrap="nowrap"><div align="left">{img}</div></td>
                <td width="1%">{del}</td>
            </tr>
            {EXPLODE}
            <tr>
                <td colspan="2">{msg}</td>
            </tr>
            {EXPLODE}
        </tbody>
    </table>
</div>
{EXPLODE}
<!-- EXPLODE 04 -->
{EXPLODE}
<!-- EXPLODE 05 -->
<div class="col-lg-2">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td colspan="2"><strong>Inztanzen</strong></td>
            </tr>
        </thead>
        <tbody>
            {EXPLODE}
            <!-- EXPLODE 06 -->
            <tr>
                <td width="1%" class="Cdark">{img}</td>
                <td width="99%" nowrap="nowrap">{name}</td>
            </tr>
            {EXPLODE}
            <!-- EXPLODE 07 -->
            <tr class="success">
                <td colspan="2">{msg}</td>
            </tr>
            {EXPLODE}
            <!-- EXPLODE 08 -->
        </tbody>
    </table>
</div>
{EXPLODE}
<!-- EXPLODE 09 -->

{EXPLODE}
<!-- EXPLODE 10 -->
<div class="col-lg-5">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td colspan="4"><strong>Bosse f&uuml;r die Instanze: {inzen}</strong></td>
            </tr>
        </thead>
        <tbody>
        {EXPLODE}
        <!-- EXPLODE 11 -->
        <tr>
            <td width="50" height="50" class="Cdark">{img}</td>
            <td width="98%" height="50"><strong>{bosse}</strong></td>
            <td width="1%" height="50">{edit}</td>
            <td width="1%" height="50">{del}</td>
        </tr>
        {EXPLODE}
        <!-- EXPLODE 12 -->
        <tr>
            <td colspan="4">{msg}</td>
        </tr>
        {EXPLODE}
        <!-- EXPLODE 13 -->
        </tbody>
    </table>
</div>
{EXPLODE}
<!-- EXPLODE 14 -->
<br style="clear: both;">