<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
  <tr>
    <td class="Cdark"><div align="center"><strong>{title}</strong></div></td>
  </tr>
  <tr>
    <td class="Cmite">
    <div align="center">
      <form id="form1" name="form1" method="post" action="{pfad}">
        {smsg}
        <br />
        <br />
        <select name="char" id="char">
        	{chars}
        </select>
        <select name="stat" id="stat">
        	{status}
        </select>
        <input name="kom" type="text" id="kom" value="{kom}" />
        <input type="submit" name="button" id="button" value="{button}" />
      </form>
      </div>
      </td>
  </tr>
</table>
<br />