<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
  <tr class="Cnorm">
    <td width="35%" nowrap="nowrap">{kills} von {alle} Bosse besiegt!</td>
    <td width="65%">{pz}</td>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
  <tr class="Chead">
    <td>IMG</td>
    <td>Bossname</td>
    <td width="11%"><div align="center"><strong>Kills</strong></div></td>
  </tr>
  {EXPLODE}
    <tr class="Cdark"><td colspan="3">Platz Nr. {nr}</td></tr>
  {EXPLODE}
  <tr>
    <td class="Cdark"><div align="center">{img}</div></td>
    <td width="82%" height="50" class="{CLASS}">
        <strong>{bosse}</strong> aus {inzen}<br>
        » First Kill: {firstkill}  von Gruppe: {gruppen1}<br>
        » Last Kill: {lastkill} von Gruppe: {gruppen2} <br>
      {pz}</td>
    <td align="center" valign="middle" class="{CLASS}"><font size="+1"><strong>{kills}</strong></font></td>
  </tr>
  {EXPLODE}
</table>