<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
  <tr class="Chead">
    <td colspan="2"><strong>Loots</strong></td>
    <td width="11%"> 
      <div align="center"><strong>Drops</strong></div>    </td>
  </tr>
  {EXPLODE}
  <tr>
    <td align="center" valign="middle" class="Cdark">{nr}</td>
	<td width="82%" height="50" valign="middle" class="{CLASS}"><span style="font-size:20px; font-weight:bolder;">{item}</span></td>
    <td align="center" valign="middle" class="{CLASS}"><font size="2">{drop}</font></td>
  </tr>
  {EXPLODE}
</table>
<br />
{EXPLODE}
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
  <tr class="Chead">
    <td colspan="3"><strong>Loots</strong> 
    <div align="center"></div>    </td>
    <td>Items</td>
    <td align="center">DKP</td>
  </tr>
  {EXPLODE}
  <tr>
    <td width="1%" valign="middle" nowrap="nowrap" class="Cdark"><span style="font-size: 9px">{date}</span></td>
	<td align="center" valign="middle" class="Cnorm">{name}</td>
	<td width="1%" align="center" valign="middle" class="Cnorm">{img}</td>
	<td valign="middle" class="Cnorm">{item}</td>
	<td align="center" valign="middle" class="Cnorm">{dkp}</td>
  </tr>
  {EXPLODE}
</table>
<br />