<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2" class="border">
  <tr class="Chead">
    <td colspan="2"><strong>Instanzen</strong></td>
    <td width="11%"> 
      <div align="center"><strong>Clear</strong></div>    </td>
  </tr>
  {EXPLODE}
    <tr class="Cdark">
    <td colspan="3">Platz Nr. {nr}</td>
  </tr>
  {EXPLODE}
  <tr>
      <td align="center" valign="top" class="Cdark">      {img}</td>
<td width="82%" height="50" valign="top" class="{CLASS}"><strong>{inzen}</strong> ({info} ab Stufe {level})<br />
        <font size="1"> » Maximale Spieleranzahl: {grpsize}<br />
						» {maxbosse} Boss/e hat {inzen}.<br />
        				&raquo; {cAllKilledBosse} von {cAllCanKilledBosse} 
                        m&ouml;glichen Tote Bosse sind in allen {allRaids} {inzen} {info}/'s get&ouml;tet worden.</font></td>
    <td align="center" valign="middle" class="{CLASS}"><font size="2">{clear}</font></td>
  </tr>
  {EXPLODE}
</table>
<br />
